{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
  <div{{ attributes }}>
    <?xml version="1.0" encoding="UTF-8"?>
    <svg width="179px" height="27px" viewBox="0 0 179 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 63.1 (92452) - https://sketch.com -->
      <title>Logo - pos</title>
      <desc>Created with Sketch.</desc>
      <g id="Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="0.0-Home" transform="translate(-105.000000, -805.000000)">
          <rect fill="#FFFFFF" x="0" y="0" width="1440" height="4448"></rect>
          <g id="Group-7" transform="translate(0.000000, 770.000000)">
            <rect id="Rectangle" fill="#FFFFFF" x="0" y="0" width="1440" height="100"></rect>
            <g id="Logo---pos" transform="translate(105.000000, 27.000000)">
              <circle id="Oval" fill="#227BFF" cx="5.5" cy="14.5" r="5.5"></circle>
              <g id="Group-2" stroke-width="1">
                <g id="Group-3">
                  <text id="vacurental" font-family="Poppins-SemiBold, Poppins" font-size="29" font-weight="500" letter-spacing="-1.5" fill="#04060D">
                    <tspan x="38" y="30">vac</tspan>
                    <tspan x="87.991" y="30" letter-spacing="-0.6">u</tspan>
                    <tspan x="106.56" y="30" font-family="Poppins-Light, Poppins" font-weight="300">rental</tspan>
                  </text>
                  <g id="Group" transform="translate(0.000000, 9.000000)" fill="#227BFF">
                    <circle id="Oval" cx="5.5" cy="5.5" r="5.5"></circle>
                    <circle id="Oval-Copy-2" cx="5.5" cy="20.5" r="5.5"></circle>
                    <circle id="Oval-Copy" cx="20.5" cy="5.5" r="5.5"></circle>
                    <circle id="Oval-Copy-3" cx="20.5" cy="20.5" r="5.5"></circle>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
    </svg>
    {{ content }}
    {{ drupal_block('block_content:a6ddb4d5-e20d-487b-93d2-0b4cf6e10522', wrapper=false) }}
  </div>
{% endif %}
