// Non-modular or client styles for .l-footer region.
div#footer-wrapper{
  background-color: $footer-background;
}
footer#footer {
  align-items: center;
  padding: 30px 0;

  @include breakpoint(mediumplus){
    @include grid-col-gutter();
    max-width: 1230px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 30px;

  }
  .region {
    @include grid-col-gutter();
    width: 100%;
    margin-bottom: 30px;
    @include breakpoint(mediumplus){
      margin-bottom: 0;
    }
  }

  .paragraph--type--branch {
    @include breakpoint(smallplus){
      flex-direction: row;
      align-items: unset;
    }
    @include breakpoint(mediumplus) {
      justify-content: flex-end;
    }
    .base-contact-fields {
      @include breakpoint(smallplus){
        padding-right: 15px;
        text-align: right;
      }
      @include breakpoint(mediumplus) {
        padding-right: 30px;
      }
    }
    .field-name-field-extra-contact-fields {
      @include breakpoint(smallplus) {
        padding-left: 15px;
        text-align: left;
      }
      @include breakpoint(mediumplus) {
        text-align: right;
        padding-left: 0;
      }
    }
    .base-contact-fields, .field-name-field-extra-contact-fields {
      @include breakpoint(smallplus) {
        flex: 1 0 50%;
      }
      @include breakpoint(mediumplus){
        flex: unset;
      }
    }
  }

  .block-social {
    .linkicon {
      justify-content: center;
      @include breakpoint(mediumplus){
        justify-content: flex-start;
      }
    }
  }
}



.block-base-footer {
  ul.menu {
    justify-content: center;
    @include breakpoint(mediumplus){
      justify-content: flex-start;
      flex-direction: column;
    }
    @include breakpoint(xlarge){
      flex-direction: row;
    }
    &>li {
      a {
        font-size: 14px;
        @include breakpoint(mediumplus){
          padding-left: 0;
        }
        @include breakpoint(xlarge){
          padding-left: 1rem;
        }
        @include breakpoint(xlarge){
          &:first-of-type{
            padding-left: 0;
          }
        }
      }
    }
  }
}
.region-footer_first,.region-footer_middle, .region-footer_last{
  max-width: 1125px!important;
  width: 100%;
  @include breakpoint(xlarge){
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
}
.region-footer_first{
  @include breakpoint(mediumplus){
    padding-bottom: 45px;
  }
  .block-contacteerons{
    max-width: 220px;
    margin: 0 auto;
    text-align: center;
    @include breakpoint(mediumplus){
      text-align: left;

      @include flex-grid-row();
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    h3{
      font-size: 14px;
      color: #FFFFFF;
      text-transform: uppercase;
      letter-spacing: 0;
    }
    a{
      font-weight: 600;
      font-size: 23px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 31px;
      transition: 0.3s ease;
    }
    div.left-wrapper{
      margin-bottom: 1rem;
      h3{

      }
      a{
        &::after{
          content: '';
          display: inline-block;
          height: 12px;
          width: 19px;
          margin-left: 10px;
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='13px' viewBox='0 0 20 13' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 63.1 (92452) - https://sketch.com --%3E%3Ctitle%3EGroup 4%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Footer' transform='translate(-303.000000, -84.000000)'%3E%3Crect id='Rectangle' fill='%23060814' x='0' y='0' width='1445' height='450'%3E%3C/rect%3E%3Cg id='Group-4' transform='translate(303.000000, 84.486854)' stroke='%23227BFF'%3E%3Cline x1='0.5' y1='6.01314575' x2='17.5' y2='6.01314575' id='Line-3' stroke-linecap='square'%3E%3C/line%3E%3Cpolyline id='Rectangle' transform='translate(13.000000, 6.000000) rotate(-45.000000) translate(-13.000000, -6.000000) ' points='17 2 17 10 9 10'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          transition: 0.3s ease-in;
        }
        &:hover{
          &::after{
            margin-left: 15px;
          }
        }
      }
    }
    div.right-wrapper{
      @include breakpoint(mediumplus){
        text-align: right;
      }
      h3{

      }
      a{
        &:hover{

          color: $primary-color;

        }
      }
    }
  }
}


.region-footer_middle {

  @include breakpoint(mediumplus){
    @include flex-grid-row();
    flex-wrap: nowrap;
    position: relative;
    margin: 0;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 70px;
    border-top: solid 1px $secondary-color;
  }

  nav.block-mainnavigation-2{
    margin-bottom: 30px;
    @include breakpoint(mediumplus){
      @include flex-grid-column(4 of 11);
      padding-left: 0px!important;
    }
    ul{
      display: flex;
      flex-direction: column;

      li{
        &:first-of-type{
          a{
            padding-top: 0px;
          }
        }
        a{
          font-size: 14px;
          color: #FFFFFF;
          letter-spacing: 0;
          text-align: center;
          padding-top: 7px;
          padding-bottom: 7px;
          transition: 0.3s ease;
          @include breakpoint(mediumplus){
            text-align: left;
            padding-left: 0px;
          }
          &:hover{
            color: $primary-color;
          }
        }
      }
    }
  }
  section.block-contact{
    @include breakpoint(mediumplus){
      @include flex-grid-column(5 of 11);
      padding-left: 0px!important;
    }
    div.main-contact-data{
      font-size: 14px;
      color: #FFFFFF;
      text-align: center;
      letter-spacing: 0;
      @include breakpoint(mediumplus){
        text-align: left;
      }
      a{
        color: white;
        transition: 0.3s ease;
        &:hover {
          color: $primary-color;
        }
      }
      .paragraph--type--branch{
        justify-content: flex-start!important;
        p.street-house{
          margin-bottom: 14px;
        }
      }
      .base-contact-fields{
        padding-right: 0px!important;
        p{
          text-align: center;
          @include breakpoint(mediumplus){
            text-align: left;
          }
          span{
            text-align: center;
            @include breakpoint(mediumplus){
              text-align: left;
            }
          }
        }

      }
      .field-name-field-extra-main-contact-fields{
        .field-item{
          margin-top: 14px;
        }
      }
    }
  }
  .block-rent-policy{
    max-width: 200px;
    margin: 30px auto;
    @include breakpoint(mediumplus){
      @include flex-grid-column(2 of 11);
      padding-right: 0px!important;
      .field-item{
        max-width: 180px;
        margin-right: 0;
        margin-left: auto;
      }
    }
    .field-name-field-file{
      @include breakpoint(mediumplus){
        position: absolute;
        right: 15px;
        width: 180Px;
        @include breakpoint(xlarge){
          right: 0px;
          top: 45px;
        }
      }
    }
    span.file{
      font-size: 14px;
      letter-spacing: 0;
      transition: 0.3s ease;
      &::before{
        content: "";
        display: inline-block;
        width: 20px;
        height: 27px;
        margin-bottom: -7Px;
        transition: 0.3s ease;
        margin-right: 10px;

        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='27px' viewBox='0 0 20 27' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 63.1 (92452) - https://sketch.com --%3E%3Ctitle%3EGroup 15%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3Cpolygon id='path-1' points='0 0 19.9999795 0 19.9999795 25.9999898 0 25.9999898'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Footer' transform='translate(-1054.000000, -195.000000)'%3E%3Crect id='Rectangle' fill='%23060814' x='0' y='0' width='1445' height='450'%3E%3C/rect%3E%3Cg id='Group-15' transform='translate(1054.000000, 195.000000)'%3E%3Cg id='Group-14' transform='translate(0.000000, 0.230769)'%3E%3Cg id='Group-3'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-2'%3E%3C/g%3E%3Cpath d='M18.4615179,18.4660836 L18.4615179,23.7148336 C18.4615179,24.1348453 18.1164923,24.4765523 17.6922872,24.4765523 L2.30767179,24.4765523 C1.88351795,24.4765523 1.53844103,24.1348453 1.53844103,23.7148336 L1.53844103,2.28514609 C1.53844103,1.86513437 1.88351795,1.52342734 2.30767179,1.52342734 L13.8461333,1.52342734 L13.8461333,5.33202109 C13.8461333,5.75269297 14.1905949,6.09373984 14.6153641,6.09373984 L18.4615179,6.09373984 L18.4615179,12.0007672 L18.4615179,18.4660836 Z M15.3846462,1.52342734 C15.5300308,1.52342734 15.8100821,1.49849375 16.0605949,1.74650937 L18.2362359,3.90100547 C18.4803385,4.142775 18.4615692,4.40770078 18.4615692,4.57030234 L15.3846462,4.57030234 L15.3846462,1.52342734 Z M19.9999795,10.4760094 L19.9999795,4.43959141 C19.9999795,3.82920078 19.7599282,3.25537266 19.3240308,2.82378281 L17.148441,0.669286719 C16.7125949,0.237646094 16.1330564,-1.015625e-05 15.5165949,-1.015625e-05 L2.30767179,-1.015625e-05 C1.03526154,-1.015625e-05 -2.05128205e-05,1.02511094 -2.05128205e-05,2.28514609 L-2.05128205e-05,23.7148336 C-2.05128205e-05,24.9748688 1.03526154,25.9999898 2.30767179,25.9999898 L17.6922872,25.9999898 C18.9647487,25.9999898 19.9999795,24.9748688 19.9999795,23.7148336 L19.9999795,16.9421891 L19.9999795,10.4760094 Z' id='Fill-1' fill='%23227BFF' mask='url(%23mask-2)'%3E%3C/path%3E%3C/g%3E%3Cpath d='M14.6153641,7.61719258 L3.84613333,7.61719258 C3.42131282,7.61719258 3.07690256,7.95823945 3.07690256,8.37891133 C3.07690256,8.7995832 3.42131282,9.14063008 3.84613333,9.14063008 L14.6153641,9.14063008 C15.0401846,9.14063008 15.3845949,8.7995832 15.3845949,8.37891133 C15.3845949,7.95823945 15.0401846,7.61719258 14.6153641,7.61719258' id='Fill-4' fill='%23227BFF'%3E%3C/path%3E%3Cpath d='M11.5384667,10.6640676 L3.84615897,10.6640676 C3.42133846,10.6640676 3.07692821,11.0051145 3.07692821,11.4257863 C3.07692821,11.8464582 3.42133846,12.1851 3.84615897,12.1875051 L11.5384667,12.1875051 C11.9632872,12.1875051 12.3076974,11.8464582 12.3076974,11.4257863 C12.3076974,11.0051145 11.9632872,10.6640676 11.5384667,10.6640676' id='Fill-6' fill='%23227BFF'%3E%3C/path%3E%3Cpath d='M11.5384667,13.7109426 L3.84615897,13.7109426 C3.42133846,13.7109426 3.07692821,14.0519895 3.07692821,14.4726613 C3.07692821,14.8933332 3.42133846,15.2343801 3.84615897,15.2343801 L11.5384667,15.2343801 C11.9632872,15.2343801 12.3076974,14.8933332 12.3076974,14.4726613 C12.3076974,14.0519895 11.9632872,13.7109426 11.5384667,13.7109426' id='Fill-8' fill='%23227BFF'%3E%3C/path%3E%3Cpath d='M11.5384667,16.7578176 L3.84615897,16.7578176 C3.42133846,16.7578176 3.07692821,17.0988645 3.07692821,17.5195363 C3.07692821,17.9402082 3.42133846,18.2812551 3.84615897,18.2812551 L11.5384667,18.2812551 C11.9632872,18.2812551 12.3076974,17.9402082 12.3076974,17.5195363 C12.3076974,17.0988645 11.9632872,16.7578176 11.5384667,16.7578176' id='Fill-10' fill='%23227BFF'%3E%3C/path%3E%3Cpath d='M14.6153641,21.4296926 L9.99997949,21.4296926 C9.57515897,21.4296926 9.23074872,21.7707395 9.23074872,22.1914113 C9.23074872,22.6120832 9.57515897,22.9531301 9.99997949,22.9531301 L14.6153641,22.9531301 C15.0401846,22.9531301 15.3845949,22.6120832 15.3845949,22.1914113 C15.3845949,21.7707395 15.0401846,21.4296926 14.6153641,21.4296926' id='Fill-12' fill='%23227BFF'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }
      a {

        transition: 0.3s ease;
        &:hover{
          color: $primary-color;
        }
      }

    }
  }
  section.block-social{
    @include breakpoint(mediumplus) {
      position: absolute;
      bottom: 70px;
      right: 15px;
    }
    @include breakpoint(xlarge){
      right: 0px;
    }
  }
  ul#linkicon-block-content-social-links-field-links-1{
    li{
      a{
        svg{
          width: 10px;
          height: 21px;
          transition: 0.3s ease;
        }
        &:hover{
          svg{
            color: $primary-color;
          }
        }
      }
    }
  }


}


.region-footer_last{
  @include breakpoint(mediumplus){
    @include flex-grid-row();
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: solid 1px $secondary-color;
  }
  div.branding-svg{
    display: block;
    margin: 0 auto;
    margin-bottom: 30Px;
    @include breakpoint(mediumplus){
      margin-bottom: 0px;
    }
  }
  section.block-sitebranding{
    padding-left: 0px!important;
  }
  nav.block-base-footer{
    ul{
      @include breakpoint(mediumplus){
        flex-direction: row;
      }
      li{
        a{
          font-weight: 400;
          font-size: 14px;
          color: #485891;
          letter-spacing: 0;
          text-transform: capitalize;
          @include breakpoint(mediumplus){
            padding-bottom: 0px;
            padding-top: 0px;
          }
        }
      }
    }
  }
  section.block-websiteikoon{
    margin-top: 30px;
    @include breakpoint(mediumplus){
      margin-top: 0px;
    }
    h4{
      font-weight: 400;
      font-size: 14px;
      color: #FFFFFF;
      text-align: center;
      letter-spacing: 0;
      a{
        transition: 0.3S ease;
        &:hover{
          color: $primary-color;
        }
      }
    }
  }
}
