// Non-modular or client styles for .l-header region.
#header-wrapper {
  @include breakpoint(large) {
    z-index: 2;

  }
    header#header {
    max-width: $global-width;
    margin: 0 auto;
  }
}
.path-frontpage{
  .region-header{
    @include breakpoint(large){
      margin-bottom: -50px;
    }
  }
  #header-wrapper {

  }
}
.region-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  @include breakpoint(large){

    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    justify-content: space-between;
    padding-top: 150px;
    margin-top: -80px;
  }
  .block-system-branding-block{
    z-index: 12;
    @include breakpoint(large){
      @include flex-grid-column(2 of 12);
    }
  }
  nav#block-base-main-menu{
    @include breakpoint(large){
      @include flex-grid-column(6 of 12);
    }
  }
  section.block-social-2{
    @include grid-col-gutter();
    @include show-for($mobile-nav-breakpoint);
    @include breakpoint(large) {
      position: absolute;
      right: 0;
    }
  }
}

.block-system-branding-block,
.block-base-main-menu,
.block-nav-toggle {
  @include grid-col-gutter();
}


.block-base-main-menu {
  @include show-for($mobile-nav-breakpoint);
}
.block-nav-toggle {
  @include hide-for($mobile-nav-breakpoint);
  position: relative;
  z-index: 13;
}

.node--type-page {
  .off-canvas-wrapper {
    ul.menu {
li{
  a{
    &:hover{
      color: black;
    }
  }
}
    }
  }
  #block-social-2{
    li{
      a{
        color: $secondary-color;
      }
    }
  }
}
.off-canvas-wrapper {
  ul.menu {
@include breakpoint(large){
  @include flex-grid-row();
  max-width: 420px;
  justify-content: space-between;

}
    &>li {
      @include breakpoint(large){

      }
      &>a {
        font-weight: 700;
        font-size: 16px;
        color: $primary-color;
        letter-spacing: 0;
        line-height: 24px;
        transition: 0.3s ease;
        text-transform: lowercase;
        &:hover{
          color: white;
        }
      }
    }
  }
}

div.branding-svg{
  width: 179px;
  height: 26px;
  background-size: 179px 26px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='181px' height='27px' viewBox='0 0 181 27' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 63.1 (92452) - https://sketch.com --%3E%3Ctitle%3EGroup 4%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Logo---pos' transform='translate(0.000000, -8.000000)'%3E%3Ccircle id='Oval' fill='%23227BFF' cx='5.5' cy='14.5' r='5.5'%3E%3C/circle%3E%3Cg id='Group-2' transform='translate(0.000000, 8.000000)'%3E%3Cg id='Group-3'%3E%3Cg id='Group-4' transform='translate(0.000000, 0.540000)'%3E%3Cpath d='M49.136,21.46 L55.081,5.394 L50.76,5.394 L46.7,17.719 L42.64,5.394 L38.29,5.394 L44.206,21.46 L49.136,21.46 Z M62.136,21.721 C64.688,21.721 66.515,20.503 67.472,19.111 L67.472,21.46 L71.561,21.46 L71.561,5.394 L67.472,5.394 L67.472,7.685 C66.515,6.351 64.746,5.133 62.165,5.133 C58.076,5.133 54.828,8.352 54.828,13.369 C54.828,18.386 58.076,21.721 62.136,21.721 Z M63.209,18.154 C61.034,18.154 58.975,16.414 58.975,13.369 C58.975,10.324 61.034,8.7 63.209,8.7 C65.442,8.7 67.472,10.382 67.472,13.427 C67.472,16.472 65.442,18.154 63.209,18.154 Z M80.936,21.721 C84.938,21.721 87.635,19.459 88.505,16.037 L84.126,16.037 C83.633,17.487 82.589,18.241 80.907,18.241 C78.645,18.241 77.137,16.559 77.137,13.427 C77.137,10.295 78.645,8.584 80.907,8.584 C82.589,8.584 83.662,9.454 84.126,10.817 L88.505,10.817 C87.635,7.221 84.938,5.133 80.936,5.133 C76.296,5.133 72.99,8.381 72.99,13.427 C72.99,18.473 76.296,21.721 80.936,21.721 Z M96.285,21.663 C98.286,21.663 100.055,20.793 101.07,19.43 L101.07,21.46 L105.159,21.46 L105.159,5.394 L101.07,5.394 L101.07,14.239 C101.07,16.82 99.678,18.212 97.474,18.212 C95.328,18.212 93.907,16.82 93.907,14.239 L93.907,5.394 L89.847,5.394 L89.847,14.819 C89.847,19.227 92.544,21.663 96.285,21.663 Z M110.91,21.46 L110.91,12.615 C110.91,8.642 113.143,7.453 115.782,7.453 L116.333,7.453 L116.333,5.336 C113.607,5.336 111.78,6.496 110.91,8.439 L110.91,5.626 L108.88,5.626 L108.88,21.46 L110.91,21.46 Z M124.722,21.692 C128.695,21.692 131.247,19.43 131.972,16.443 L129.826,16.443 C129.246,18.56 127.419,19.981 124.722,19.981 C121.764,19.981 119.183,18.038 119.009,14.326 L132.146,14.326 C132.204,13.775 132.204,13.369 132.204,12.731 C132.204,8.7 129.362,5.394 124.722,5.394 C120.169,5.394 116.95,8.497 116.95,13.543 C116.95,18.56 120.227,21.692 124.722,21.692 Z M130.145,12.673 L119.009,12.673 C119.241,8.99 121.764,7.134 124.635,7.134 C127.564,7.134 130.232,8.99 130.145,12.673 Z M136.446,21.46 L136.446,12.818 C136.446,8.961 138.505,7.105 141.463,7.105 C144.363,7.105 146.277,8.903 146.277,12.412 L146.277,21.46 L148.278,21.46 L148.278,12.18 C148.278,7.54 145.436,5.336 141.84,5.336 C139.491,5.336 137.461,6.351 136.446,8.323 L136.446,5.626 L134.416,5.626 L134.416,21.46 L136.446,21.46 Z M158.262,21.46 L158.262,19.72 L156.406,19.72 C154.579,19.72 153.912,19.111 153.912,17.168 L153.912,7.337 L158.262,7.337 L158.262,5.626 L153.912,5.626 L153.912,1.653 L151.853,1.653 L151.853,5.626 L149.649,5.626 L149.649,7.337 L151.853,7.337 L151.853,17.168 C151.853,20.329 153.332,21.46 156.087,21.46 L158.262,21.46 Z M166.709,21.692 C169.87,21.692 172.074,19.981 173.002,17.951 L173.002,21.46 L175.032,21.46 L175.032,5.626 L173.002,5.626 L173.002,9.106 C172.103,7.105 169.928,5.394 166.738,5.394 C162.388,5.394 159.169,8.555 159.169,13.514 C159.169,18.473 162.388,21.692 166.709,21.692 Z M167.115,19.923 C163.78,19.923 161.228,17.516 161.228,13.514 C161.228,9.483 163.78,7.163 167.115,7.163 C170.363,7.163 173.002,9.599 173.002,13.543 C173.002,17.487 170.363,19.923 167.115,19.923 Z M180.202,21.46 L180.202,1.77635684e-15 L178.172,1.77635684e-15 L178.172,21.46 L180.202,21.46 Z' id='vacurental' fill='%2304060D' fill-rule='nonzero'%3E%3C/path%3E%3Cg id='Group' transform='translate(0.000000, 0.460000)' fill='%23227BFF'%3E%3Ccircle id='Oval' cx='5.5' cy='5.5' r='5.5'%3E%3C/circle%3E%3Ccircle id='Oval-Copy-2' cx='5.5' cy='20.5' r='5.5'%3E%3C/circle%3E%3Ccircle id='Oval-Copy' cx='20.5' cy='5.5' r='5.5'%3E%3C/circle%3E%3Ccircle id='Oval-Copy-3' cx='20.5' cy='20.5' r='5.5'%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");}
.path-frontpage{
div.branding-svg{
  background-image: url("data:image/svg+xml,%3Csvg width='179' height='26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M49.252 23l5.916-16.066h-4.35L46.7 19.491 42.553 6.934h-4.35L44.119 23h5.133zm13.232.232c2.165 0 3.857-.976 5.075-2.929V23h4.06V6.934h-4.06v2.494c-1.16-1.817-2.842-2.726-5.046-2.726s-4.021.769-5.452 2.306c-1.43 1.537-2.146 3.513-2.146 5.93s.715 4.408 2.146 5.974c1.45 1.547 3.258 2.32 5.423 2.32zm.826-3.538c-1.13 0-2.121-.425-2.972-1.276-.85-.85-1.276-2.01-1.276-3.48 0-1.47.42-2.62 1.262-3.451.84-.831 1.831-1.247 2.972-1.247 1.14 0 2.136.42 2.987 1.261.85.841 1.276 1.997 1.276 3.466 0 1.47-.425 2.63-1.276 3.48-.85.831-1.841 1.247-2.973 1.247zm17.945 3.538c1.914 0 3.533-.493 4.858-1.479 1.324-.986 2.218-2.32 2.682-4.002h-4.408c-.541 1.353-1.585 2.03-3.132 2.03-1.18 0-2.102-.43-2.77-1.29-.666-.86-1-2.035-1-3.524 0-1.489.334-2.663 1-3.524.668-.86 1.59-1.29 2.77-1.29 1.566 0 2.61.667 3.132 2.001h4.408c-.445-1.74-1.324-3.084-2.639-4.031-1.315-.947-2.948-1.421-4.901-1.421-2.34 0-4.244.754-5.713 2.262-1.47 1.508-2.204 3.509-2.204 6.003s.735 4.495 2.204 6.003c1.47 1.508 3.374 2.262 5.713 2.262zm15.175-.029c2.32 0 3.992-.88 5.017-2.639V23h4.089V6.934h-4.089v8.845c0 1.257-.324 2.223-.972 2.9-.647.677-1.522 1.015-2.624 1.015s-1.972-.338-2.61-1.015c-.638-.677-.957-1.643-.957-2.9V6.934h-4.06v9.425c0 2.146.58 3.823 1.74 5.031 1.16 1.209 2.649 1.813 4.466 1.813zM111.316 23v-8.99c0-1.837.372-3.132 1.117-3.886.744-.754 1.812-1.131 3.204-1.131h.58V6.876c-2.397 0-4.031.967-4.901 2.9v-2.61h-2.03V23h2.03zm13.319.29c1.837 0 3.345-.44 4.524-1.32a7.45 7.45 0 002.552-3.349h-2.175c-.329.909-.923 1.643-1.784 2.204-.86.56-1.899.841-3.117.841-1.566 0-2.861-.522-3.886-1.566s-1.576-2.475-1.653-4.292h13.05a9.927 9.927 0 00.116-1.566c0-2.088-.677-3.838-2.03-5.249-1.353-1.411-3.175-2.117-5.466-2.117-2.291 0-4.157.75-5.598 2.247-1.44 1.499-2.16 3.48-2.16 5.946 0 2.464.706 4.451 2.117 5.959s3.248 2.262 5.51 2.262zm5.539-9.077h-11.078c.097-1.779.662-3.175 1.697-4.19 1.034-1.015 2.33-1.523 3.885-1.523 1.557 0 2.862.517 3.916 1.552 1.053 1.034 1.58 2.421 1.58 4.161zM136.098 23v-9.048c0-1.74.42-3.064 1.261-3.973.841-.909 1.992-1.363 3.451-1.363 1.46 0 2.61.454 3.452 1.363.84.909 1.261 2.233 1.261 3.973V23h2.001v-9.425c0-2.165-.59-3.823-1.769-4.973-1.18-1.15-2.649-1.726-4.408-1.726-2.436 0-4.186.957-5.249 2.871V7.166h-2.03V23h2.03zm21.178 0v-1.595h-2.262c-.793 0-1.344-.16-1.653-.479-.31-.318-.464-.874-.464-1.667V8.761h4.379V7.166h-4.379V3.193h-2.03v3.973h-2.204v1.595h2.204v10.498c0 2.494 1.237 3.741 3.712 3.741h2.697zm7.925.29c1.43 0 2.687-.353 3.77-1.058 1.083-.706 1.885-1.61 2.407-2.712V23h2.03V7.166h-2.03v3.451c-.522-1.102-1.324-2.001-2.407-2.697-1.083-.696-2.34-1.044-3.77-1.044-2.223 0-4.055.74-5.495 2.218-1.44 1.48-2.161 3.432-2.161 5.859 0 2.426.725 4.422 2.175 5.988 1.45 1.566 3.277 2.349 5.481 2.349zm.305-1.74c-1.615 0-2.997-.614-4.148-1.841-1.15-1.228-1.725-2.814-1.725-4.756 0-1.944.57-3.485 1.711-4.626 1.14-1.14 2.523-1.711 4.147-1.711s3.011.595 4.161 1.784c1.15 1.188 1.726 2.75 1.726 4.683 0 1.933-.58 3.5-1.74 4.698-1.14 1.18-2.518 1.769-4.132 1.769zM178.288 23V1.54h-2.03V23h2.03z' fill='%23FFF' fill-rule='nonzero'/%3E%3Ccircle fill='%23227BFF' cx='5.5' cy='5.5' r='5.5'/%3E%3Ccircle fill='%23227BFF' cx='5.5' cy='20.5' r='5.5'/%3E%3Ccircle fill='%23227BFF' cx='20.5' cy='5.5' r='5.5'/%3E%3Ccircle fill='%23227BFF' cx='20.5' cy='20.5' r='5.5'/%3E%3C/g%3E%3C/svg%3E");}
}

.fixed {
  @include transition(0.6s);
  .region-header{
    @include breakpoint(large) {
      margin-bottom: 0px;
      padding-top: 100px;
    }
  }
  #header-wrapper {
    background-color: $white;
    position: fixed;
    width: 100%;
    top: 0px;
    padding: 15px 0px;
    height: auto;
    @include transition(0.5s);
    z-index: 999;
    #header {
      position: static;
      @include transition(0.5s);
      .block-base-branding {
        margin-top: 5px;
      }
      .main-logo {
        display: none;
      }
      .fixed-logo {
        display: block !important;
      }
      // .block-nav-toggle {
      //   position: absolute;
      //   right: 0;
      //   top: 70px;
      // }
      .menu.dropdown{
        li{
          a{
            transition: 0.3s ease;
          }
          a:hover{
            color: black;
          }
        }
      }
    }
  }
  #block-social-2{

      li{
      a{
      color: $secondary-color;
    }
      }

  }
  div.branding-svg{
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='181px' height='27px' viewBox='0 0 181 27' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 63.1 (92452) - https://sketch.com --%3E%3Ctitle%3EGroup 4%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Logo---pos' transform='translate(0.000000, -8.000000)'%3E%3Ccircle id='Oval' fill='%23227BFF' cx='5.5' cy='14.5' r='5.5'%3E%3C/circle%3E%3Cg id='Group-2' transform='translate(0.000000, 8.000000)'%3E%3Cg id='Group-3'%3E%3Cg id='Group-4' transform='translate(0.000000, 0.540000)'%3E%3Cpath d='M49.136,21.46 L55.081,5.394 L50.76,5.394 L46.7,17.719 L42.64,5.394 L38.29,5.394 L44.206,21.46 L49.136,21.46 Z M62.136,21.721 C64.688,21.721 66.515,20.503 67.472,19.111 L67.472,21.46 L71.561,21.46 L71.561,5.394 L67.472,5.394 L67.472,7.685 C66.515,6.351 64.746,5.133 62.165,5.133 C58.076,5.133 54.828,8.352 54.828,13.369 C54.828,18.386 58.076,21.721 62.136,21.721 Z M63.209,18.154 C61.034,18.154 58.975,16.414 58.975,13.369 C58.975,10.324 61.034,8.7 63.209,8.7 C65.442,8.7 67.472,10.382 67.472,13.427 C67.472,16.472 65.442,18.154 63.209,18.154 Z M80.936,21.721 C84.938,21.721 87.635,19.459 88.505,16.037 L84.126,16.037 C83.633,17.487 82.589,18.241 80.907,18.241 C78.645,18.241 77.137,16.559 77.137,13.427 C77.137,10.295 78.645,8.584 80.907,8.584 C82.589,8.584 83.662,9.454 84.126,10.817 L88.505,10.817 C87.635,7.221 84.938,5.133 80.936,5.133 C76.296,5.133 72.99,8.381 72.99,13.427 C72.99,18.473 76.296,21.721 80.936,21.721 Z M96.285,21.663 C98.286,21.663 100.055,20.793 101.07,19.43 L101.07,21.46 L105.159,21.46 L105.159,5.394 L101.07,5.394 L101.07,14.239 C101.07,16.82 99.678,18.212 97.474,18.212 C95.328,18.212 93.907,16.82 93.907,14.239 L93.907,5.394 L89.847,5.394 L89.847,14.819 C89.847,19.227 92.544,21.663 96.285,21.663 Z M110.91,21.46 L110.91,12.615 C110.91,8.642 113.143,7.453 115.782,7.453 L116.333,7.453 L116.333,5.336 C113.607,5.336 111.78,6.496 110.91,8.439 L110.91,5.626 L108.88,5.626 L108.88,21.46 L110.91,21.46 Z M124.722,21.692 C128.695,21.692 131.247,19.43 131.972,16.443 L129.826,16.443 C129.246,18.56 127.419,19.981 124.722,19.981 C121.764,19.981 119.183,18.038 119.009,14.326 L132.146,14.326 C132.204,13.775 132.204,13.369 132.204,12.731 C132.204,8.7 129.362,5.394 124.722,5.394 C120.169,5.394 116.95,8.497 116.95,13.543 C116.95,18.56 120.227,21.692 124.722,21.692 Z M130.145,12.673 L119.009,12.673 C119.241,8.99 121.764,7.134 124.635,7.134 C127.564,7.134 130.232,8.99 130.145,12.673 Z M136.446,21.46 L136.446,12.818 C136.446,8.961 138.505,7.105 141.463,7.105 C144.363,7.105 146.277,8.903 146.277,12.412 L146.277,21.46 L148.278,21.46 L148.278,12.18 C148.278,7.54 145.436,5.336 141.84,5.336 C139.491,5.336 137.461,6.351 136.446,8.323 L136.446,5.626 L134.416,5.626 L134.416,21.46 L136.446,21.46 Z M158.262,21.46 L158.262,19.72 L156.406,19.72 C154.579,19.72 153.912,19.111 153.912,17.168 L153.912,7.337 L158.262,7.337 L158.262,5.626 L153.912,5.626 L153.912,1.653 L151.853,1.653 L151.853,5.626 L149.649,5.626 L149.649,7.337 L151.853,7.337 L151.853,17.168 C151.853,20.329 153.332,21.46 156.087,21.46 L158.262,21.46 Z M166.709,21.692 C169.87,21.692 172.074,19.981 173.002,17.951 L173.002,21.46 L175.032,21.46 L175.032,5.626 L173.002,5.626 L173.002,9.106 C172.103,7.105 169.928,5.394 166.738,5.394 C162.388,5.394 159.169,8.555 159.169,13.514 C159.169,18.473 162.388,21.692 166.709,21.692 Z M167.115,19.923 C163.78,19.923 161.228,17.516 161.228,13.514 C161.228,9.483 163.78,7.163 167.115,7.163 C170.363,7.163 173.002,9.599 173.002,13.543 C173.002,17.487 170.363,19.923 167.115,19.923 Z M180.202,21.46 L180.202,1.77635684e-15 L178.172,1.77635684e-15 L178.172,21.46 L180.202,21.46 Z' id='vacurental' fill='%2304060D' fill-rule='nonzero'%3E%3C/path%3E%3Cg id='Group' transform='translate(0.000000, 0.460000)' fill='%23227BFF'%3E%3Ccircle id='Oval' cx='5.5' cy='5.5' r='5.5'%3E%3C/circle%3E%3Ccircle id='Oval-Copy-2' cx='5.5' cy='20.5' r='5.5'%3E%3C/circle%3E%3Ccircle id='Oval-Copy' cx='20.5' cy='5.5' r='5.5'%3E%3C/circle%3E%3Ccircle id='Oval-Copy-3' cx='20.5' cy='20.5' r='5.5'%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");}
}

aside.off-canvas.right-off-canvas-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  li{
    a{
      font-size: 18px;
      &:hover{
        color: black;
      }
    }
  }
  svg{
    margin-bottom: 25Px;
  }
  .field-name-field-downloads{
    background-color: $primary-color;
    max-width: 315px;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 18px;
    padding-bottom: 10px;
    span.file{
      margin-bottom: 10px;
    }
    &::before{
      content: "Downloads";
      display: block;
      font-size: 20px;
      color: white;
      font-weight: 700;
      border-bottom: solid 1px white;
      margin-bottom: 10px;
    }
  }
      }
