// Common abstract classes to extend or parametrics are stored here.

// Example parametrics.
// ------------------------------------------------------
// %font-FONTNAME   {}
// %font-sans-serif { font-family: sans-serif; }
// %font-serif      { font-family: serif; }

.linkicon {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;

  .linkicon__text {
    display: none;
  }
}

::-moz-selection {
  color: $white;
  background-color: $primary-color;
}

::selection {
  color: $white;
  background-color: $primary-color;
}

// FORM

.js-form-item {
  margin-bottom: 15px;

  input {
    margin-bottom: 0;
  }

  .description {
    font-size: 12px;
    margin-top: 2px;
  }
}

.js-form-type-checkbox {
  display: flex;
  align-items: flex-start;

  input {
    margin-top: 7px;
    display: none;

    &+label {
      display: -webkit-inline-box;
      margin-left: 0px;

      &:before {
        content: "";
        width: 18px;
        height: 18px;
        border: 2px solid black;
        display: block;
        margin-right: 10px;
        margin-top: 5px;

      }
    }

    &:checked {
      &+label {
        &:before {
          background: url("icons/checked.svg") no-repeat center center;

        }
      }
    }
  }
}
