// @file
// Place your mixins here. Feel free to roll your own mixins.
@mixin buttonnew{
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 20px;
  border: solid 0.5px #227BFF;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.3s ease;
  &:hover,&:focus{
    background-color: #227BFF;
    color: white;
  }
}
@mixin list-item{
  background: url('../images/assets/list-icon.svg') no-repeat left center;
  padding: 3px 0px 3px 30px;
  list-style: none;
  margin: 0;
}

@mixin transition($t) {
  transition: all $t ease-in-out;
  -ms-transition: all $t ease-in-out;
  -o-transition: all $t ease-in-out;
  -moz-transition: all $t ease-in-out;
  -webkit-transition: all $t ease-in-out;
}
@mixin translatey($x) {
  -webkit-transform: translateY($x);
  -moz-transform:    translateY($x);
  -ms-transform:     translateY($x);
  -o-transform:      translateY($x);
  transform:         translateY($x);
}
