.button, .button.success, .button[disabled].success,
.eu-cookie-compliance-buttons button {
@include buttonnew();
}

.burger-icon {
  @include burger(25px, 3px, 5px, $primary-color);
}

.menu-button {
  cursor: pointer;
  &.is-active .burger-icon {
    @include burger-to-cross;
  }
}
