.block.contact-data.full {
  /* if 1 branch, main contact data and contact data from branch should be in rows */
    &.single-branch {
      display: flex;
      justify-content: center;
    }
  /* end if 1 branch*/
  p {
    margin-bottom: 0;
  }
}

.paragraph--type--branch {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @include breakpoint(smallplus){
    text-align: left;
  }

  p {
    margin-bottom: 0;
  }
}

.geolocation-map-wrapper {
  height: 320px;
  @include breakpoint(mediumplus){
    height: 100%;
  }
}

.gm-style .gm-style-iw-c {
  border-radius: 0;
}

.webform-button--submit{

  @include buttonnew();
  background-color: $primary-color!important;
  padding: 12px 22px!important;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}
.webform-confirmation{
  @include grid-col-gutter;
  @include grid-row;
}

form.webform-submission-form {
  max-width: 315px;
  margin: 0 auto;

  @include breakpoint(mediumplus) {
    max-width: 705px;
  }

  .form-item {
    label {
      font-weight: 300;
      font-size: 16px;
      color: #227BFF;
      letter-spacing: 0;
      line-height: 20px;
      margin-bottom: 8px;
    }

    input, textarea {
      background-color: #EDF1FF;
      border: none;
      border-left: solid 0px $primary-color;
      line-height: 40px;
      font-weight: 300;
      font-size: 16px;
      color: #537CA1;
      letter-spacing: 0;
      transition: 0.2s ease-in;
      &:hover,&:focus{
        border-left: solid 3px $primary-color;
      }
    }
  }

  .form-item-length {
    input{
      @include breakpoint(mediumplus){
        max-width: 285px;
      }
    }
    position: relative;
    &::after {
      content: 'meter';
      font-weight: 300;
      font-size: 16px;
      color: #000000;
      letter-spacing: 0;
      line-height: 20px;
      margin-top: 15px;
      display: block;
      @include breakpoint(mediumplus){
        position: absolute;
        top: 24px;
        right: 8px;
      }
    }
  }

  .form-item-weight {
    input{
      @include breakpoint(mediumplus){
        max-width: 285px;
        margin-left: auto;
        margin-right: 30px;
      }
    }
    label{
      @include breakpoint(mediumplus){
        padding-left: 22px;
      }
    }
    position: relative;
    &::after {
      content: 'kg';
      font-weight: 300;
      font-size: 16px;
      color: #000000;
      letter-spacing: 0;
      line-height: 20px;
      display: block;
      margin-top: 15px;
      @include breakpoint(mediumplus){
        position: absolute;
        top: 24px;
        right: 14px;
      }

    }
  }

  .form-item-rent-period-begin {
    position: relative;
    @include breakpoint(mediumplus){
      padding-right: 0px!important;
      padding-left: 0px!important;
    }
    &::after {
      content: 'tot';
      font-weight: 300;
      font-size: 16px;
      color: #000000;
      letter-spacing: 0;
      line-height: 20px;
      display: block;
      margin-top: 15px;
      @include breakpoint(mediumplus){
        position: absolute;
        top: 24px;
        right: -50px;
      }
    }
  }

  .form-item-rent-period-end{
    @include breakpoint(mediumplus){
      padding-right: 0px!important;
      padding-left: 0px!important;
    }
    input{
      @include breakpoint(mediumplus){
       margin-top: 28px;
      }
    }
  }

  & > fieldset {
    & > legend {
      span.fieldset-legend {
        @include list-item();
        margin-bottom: 15px;
        @include breakpoint(mediumplus){
        margin-left: -30px;
        }
      }
    }
  }

  div.fieldset-wrapper {
    fieldset {
      legend {
        span.fieldset-legend {
          font-weight: 300;
          font-size: 16px;
          color: #227BFF;
          letter-spacing: 0;
          line-height: 20px;
        }
      }
    }
  }

  div.js-webform-radios {
    @include breakpoint(mediumplus){
      @include flex-grid-row();
      flex-wrap: nowrap;
      margin-left: 0;
      margin-right: auto;
      label {
        width: 75px;
      }
    }
    label {
      color: black;
      text-transform: lowercase;
    }
  }

  span.select2 {
    outline: none;
    span.select2-selection {
      background-color: #EDF1FF;
      border: none;
      height: 2.4375rem;

      span.select2-selection__rendered {
        background-color: #EDF1FF;
        border: none;
        line-height: 40px;
        height: 2.4375rem;
        font-weight: 300;
        font-size: 16px;
        color: #537CA1;
        letter-spacing: 0;

      }

      span.select2-selection__arrow {
        line-height: 40px;
        width: 2.4375rem;
        height: 2.4375rem;
        background-repeat: no-repeat;
        background-position: center;
        border-left: solid 1px white;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='10px' height='5px' viewBox='0 0 10 5' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 63.1 (92452) - https://sketch.com --%3E%3Ctitle%3ERectangle%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0.0-Home' transform='translate(-661.000000, -3453.000000)'%3E%3Cg id='Form' transform='translate(341.000000, 2556.000000)'%3E%3Cg id='Periode-en-locatie' transform='translate(0.000000, 643.000000)'%3E%3Crect id='Rectangle-Copy-12' fill='%23EDF1FF' x='27' y='239' width='315' height='34'%3E%3C/rect%3E%3Cpolyline id='Rectangle' stroke='%23227BFF' transform='translate(325.000000, 254.414214) rotate(45.000000) translate(-325.000000, -254.414214) ' points='328 251.414214 328 257.414214 322 257.414214'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

        b {
          border: none;
        }
      }
    }
  }
  @include breakpoint(mediumplus) {
  fieldset#edit-contact-data {
      div.fieldset-wrapper {
        @include flex-grid-row();
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .form-item {
        max-width: 315px;
      }

  }
    fieldset#edit-vacuum-raise{
&>div.fieldset-wrapper{
  @include flex-grid-row('nest');
}
    fieldset#edit-panel-type--wrapper {
      @include flex-grid-column(2 of 2);
      div#edit-panel-type {

      }
    }
      .form-item-length, .form-item-weight {
        @include flex-grid-column(1 of 2);
      }
      div#edit-wish{
        @include flex-grid-row('nest');
      }
  }

    fieldset#edit-period-and-location{
      .form-item{
        @include flex-grid-column(1 of 2);
        max-width: 315px;
      }
      div.form-item-time-delivery-select{
        padding-right: 0px!important;
        padding-left: 0px!important;
      }
      .radios--wrapper{
        @include flex-grid-column(2 of 2);
        padding-right: 0px!important;
        padding-left: 0px!important;
      }
      fieldset.webform-select2{
        @include flex-grid-column(2 of 2);
        padding-right: 0px!important;
        padding-left: 0px!important;
      }
      &>div.fieldset-wrapper{
        @include flex-grid-row();
        justify-content: space-between;
      }
      .form-item-address, .form-item-place{
        padding-right: 0px!important;
        padding-left: 0px!important;
      }
      .form-item-option{
        max-width: 150px;
        width: 100%;
        &:first-of-type{
          margin-left:-15px;

        }
      }
    }
}

}
