.home.full {
  @include grid-row();
  margin-top: -86px;

  header{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    &::before, &::after{
      content: "";
      display: block;
      background-color: #020615;
      width: 100vw;
      height: 100%;
      z-index: -1;
      position: absolute;
      right: 0;
      top: 0;
    }
    &::before{
      left: 0;
    }
  }
  figcaption{

    @include grid-col-gutter();

    padding-bottom: 60px;
    padding-top: 140px;
    @include breakpoint(mediumplus){
      @include flex-grid-column(7 of 12);
      padding-bottom: 140px;
      padding-top: 235px;
    }
    @include breakpoint(large){
      @include flex-grid-column(4 of 12);

    }

    @include breakpoint(xxlarge){
      padding-left: 40px;
    }
    }

  h1 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #227BFF;
    letter-spacing: 0;
    font-weight: 700;
    line-height: 24px;
    text-transform: lowercase;
  }
  h2 {
    font-weight: 300;
    font-size: rem-calc(30);
    color: #FFFFFF;
    letter-spacing: 0;
    font-family: $title-font-fam;
    line-height: 34px;
    margin-bottom: 20px;
    @include breakpoint(mediumplus){
      font-size: rem-calc(50);
      line-height: 54px;
    }
  }
  .body{
    margin-bottom: 60px;
    p{
      font-family: $title-font-fam;
      font-weight: 300;
      font-size: 16px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 20px;
    }
  }
  .field-name-field-link{
    a{
      font-family: Poppins;
      font-weight: 500;
      font-size: 16px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 20px;
      border: solid 2px $primary-color;
      padding: 10px 25px;
      border-radius: 50px;
      transition: 0.3s ease;
      &:hover,&:focus{
        background-color: $primary-color;
        color: white;
      }
    }
  }

  .view-mode-full{
    @include breakpoint(xlarge){
      position: relative;
      &::before{
        background-image: url('../images/assets/circle.svg');
        background-repeat: no-repeat;
        height: 687px;
        content: "";
        display: block;
        width: 687px;
        background-size: cover;
        background-position: right;
        position: absolute;
        top: -445px;
        z-index: 20;
        right: -615px;
      }
    }
  }
}
