.page.full {
  @include grid-row();
  header {
    position: relative;
    @include breakpoint(large){
      min-height:750px ;
    }
    figure {

      @include breakpoint(mediumplus){
        max-width: 50%;
        margin-left: auto;
        margin-right: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        div.views-element-container{
          width: 100%;
        }
      }
      @include breakpoint(large){
        top: 48px;
        bottom: auto;
      }
      img {
        margin: 0 auto 30px auto;
        display: block;
        @include breakpoint(mediumplus){
          margin: 0;

            margin-top: auto;
            margin-bottom: 0;

        }

      }
      figcaption {
        @include grid-row();
        @include grid-col-gutter();
        margin-bottom: 30px;
        @include breakpoint(medium){
          margin-bottom: 50px;
        }
        @include breakpoint(large){
          margin-bottom: 80px;
        }
      }
    }
    .background-wrapper{
      @include grid-col-gutter();
      background-color: $footer-background;
      padding-top: 25px;
      padding-bottom: 25px;
      @include breakpoint(mediumplus){
        padding-bottom: 105px;
        padding-top: 120px;
        position: relative;
        &::after, &::before{
          content: '';
          display: block;
          position: absolute;
          background-color: $footer-background;
          left: -20vw;
          z-index: -1;
          width: 120vw;
          height: 100%;
          top: 0;
        }
      }
    }
    .title-wrapper{
      max-width: 50%;
    @include breakpoint(mediumplus){
      padding-left: 40px;
    }
      @include breakpoint(xxlarge){
        padding-left: 0px;
      }
    }
    h1 {
      margin-bottom: 15px;
      font-size: 20px;
      color: #227BFF;
      letter-spacing: 0;
      font-weight: 700;
      line-height: 24px;
      text-transform: lowercase;
    }
    h2 {
      font-weight: 300;
      font-size: rem-calc(30);
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 34px;
      margin-bottom: 20px;
      @include breakpoint(mediumplus){
        font-size: rem-calc(50);
        line-height: 54px;
        max-width: 425px;
      }
    }
    .body, .main-contact-data {
      @include grid-col-gutter();
      background-color: $secondary-color;
      color: white;
      padding-top: 25px;
      padding-bottom: 25px;
      @include breakpoint(mediumplus) {
        max-width: 50%;
        padding-left: 105px;
        padding-top: 90px;
        padding-bottom: 77px;
        margin-top: -40px;
        position: relative;
        .field-items{
          max-width: 450px;
        }
      }
      .paragraph--type--branch{
        justify-content: flex-start;
        align-items: start;
      }
      .field-item{
        p{
          margin-bottom: 0px;
          a{
            transition: 0.3s ease;
          }

          a:hover{
            color: $primary-color;
          }
        }
      }
    }

  }
  div.geolocation-map-wrapper{
    width: 100%;
    height: 350px;
    @include breakpoint(mediumplus){
      height: 500px;
      width: 80%;
    }
    @include breakpoint(xlarge){
      width: 100%;
      height: 700px;
    }
  }
}

section#block-downloads{
  transform: rotate(90deg);
  position: fixed;
  right: -50px;
  top: 165px;
  display: none;
  z-index: 25;
  @include breakpoint(large){
    display: block;
  }
  @include breakpoint(xlarge){
    top: 500px;
  }
  .download-wrapper{
    position: relative;
  }
  div.dropdown-pane{
    transform: rotate(270deg);
    left: -28px!important;
    background-color: $primary-color;
    height: 175px;
    display: flex;
    width: 230px;
    flex-direction: column;
    justify-content: flex-end;
    top: 87px !important;
    border: none;
    border-right: solid 1px #62A1FF;
    opacity: 0;
    transition: 0.4s ease;

    a{
      font-weight: 700;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 19px;
      text-decoration: underline;
      margin-bottom: 15px;
      display: block;
      transition: 0.3s ease;
      &:hover{
        color: $secondary-color;
      }
    }
  }
  div.dropdown-pane.is-open{
  opacity: 1;

  }
}
button.download-dropdown{
  height: 60px;
  width: 175px ;
  padding: 15px 20px;
  background-color: $primary-color;
  border-radius: 0px;
  outline: none;
  h2{
    background-image:url('../images/assets/icon-downloads.svg');
    background-size: 30px 27px;
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 14px;
    padding-left: 30Px;
    color: #FFFFFF;
    margin-bottom: 0px;
    transition: 0.3s ease;
    letter-spacing: 0;
    line-height: 27px;
  }

}
section#block-downloads:hover{
  h2.block-title{
    letter-spacing: 1px;
  }
}

.section-disclaimer, .section-privacy-policy, .section-cookie-policy{
  .page.full{
    header{
      min-height: auto!important;
    }
  }
}
