.field-name-field-paragraphs {
  &>.field-items {
    &>.field-item {
      margin-bottom: 30px;
      @include breakpoint(medium){
        margin-bottom: 50px;
      }
      @include breakpoint(large){
        margin-bottom: 80px;
      }
      @include breakpoint(xxlarge){
        margin-bottom: 100px;
      }
      &:first-of-type{
        margin-top: 30px;
        @include breakpoint(medium){
          margin-top: 50px;
        }
        @include breakpoint(large){
          margin-top: 80px;
        }
        @include breakpoint(xxlarge){
          margin-top: 100px;
        }
      }
    }
  }
}

.paragraph--type--text-blocks {
  @include grid-col-gutter();
  .paragraph--type--text-block{
    .field-name-field-text{
      h3{
        font-weight: 300;
        font-size: 32px;
        color: $primary-color;
        letter-spacing: 0;
        line-height: 42px;
        margin-bottom: 20px;
      }
      p{
        font-weight: 300;
        font-size: 16px;
        color: #000000;
        letter-spacing: 0;
        line-height: 20px;
      }
    }
  }
}
.field-name-field-text-blocks {
  @include grid-row();
  &>.field-items {
    @include breakpoint(mediumplus){
      @include grid-col-gutter();
      @include flex-grid-row('nest', $grid-row-width, null, true, true, $grid-column-gutter);
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
    &>.field-item {
      @include grid-col-gutter();
      max-width: 768px;
      @include breakpoint(mediumplus){

        @include flex-grid-column(1 of 3);
        padding-right: 15px;
      }
      @include breakpoint(xxlarge){
        @include grid-col-gutter(0px);



      }
    }
  }
}

.paragraph--type--text-image {
  @include grid-col-gutter();
  .paragraph-content-wrapper {
    @include grid-row();
  }
  .paragraph-content {
    @include breakpoint(medium){
      @include flex-grid-row('nest', $grid-row-width, null, true, true, $grid-column-gutter);
      align-items: center;
    }

    &>div, &>figure {
      @include breakpoint(medium){
        @include flex-grid-column(1 of 2);
      }
    }
    &>div {
      @include grid-col-gutter();
      @include breakpoint(large){
        @include flex-grid-column(5 of 12);
      }
    }
    &>figure {
      @include grid-col-gutter();
      margin-bottom: 15px;
      @include breakpoint(medium){
        margin-bottom: 30px;
      }
      @include breakpoint(large){
        @include flex-grid-column(7 of 12);
        margin-bottom: 0;
      }
    }
  }

  &.option-image-right {
    @include breakpoint(large){
      .paragraph-content >figure {
        padding-left: 105px !important;
      }
    }
  }

  &.option-image-left {
    .paragraph-content {
      @include breakpoint(medium){
        flex-direction: row-reverse;
      }
    }
    @include breakpoint(large){
      .paragraph-content >figure {
        padding-right: 105px !important;
      }
    }
  }
}

.paragraph--type--form {
  @include grid-col-gutter();
  .paragraph-content-wrapper {
    @include grid-row();
    .paragraph-content {
      max-width: 800px;
    }
  }
}

.paragraph--type--map-form {
  @include flex-grid-row();
  .contact-wrapper {
    @include flex-grid-column(1 of 1);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    @include breakpoint(mediumplus){
      @include flex-grid-column(1 of 2);
      margin-bottom: 0;
    }

    .field-name-field-map {
      display: flex;
      flex: 1 1 100%;
      .views-element-container {
        width: 100%;
      }
    }

    .field-name-field-contact-data {
      background-color: $primary-color;
      color: $white;
      padding: 15px;
      font-weight: $global-weight-bold;
      @include breakpoint(medium){
        padding: 30px 15px;
      }
      @include breakpoint(large){
        padding: 30px 60px;
      }

      a {
        color: $white;
        transition: color .25s ease-out;
        &:hover, &:focus {
          color: darken($white, 20%);
        }
      }

      &>.field-items > .field-item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        p {
          margin-bottom: 0;
        }
        @include breakpoint(smallplus){
          flex-wrap: unset;
          flex-direction: row;
        }
        .main-contact-data, .field-name-field-branches {
          text-align: center;
          @include breakpoint(smallplus) {
            text-align: left;
            flex: 1 0 50%;
          }
        }
        .main-contact-data{
          @include breakpoint(smallplus){
            padding-right: 15px;
            text-align: left;
          }
        }
        .field-name-field-branches {
          @include breakpoint(smallplus){
            padding-left: 15px;
            text-align: left;
          }
        }
      }
    }
  }
  .form-field-wrapper {
    @include flex-grid-column(1 of 1);
    @include breakpoint(mediumplus){
      @include flex-grid-column(1 of 2);
    }
    @include breakpoint(large){
      @include flex-grid-column(1 of 2, 105px);
    }
  }
}

.paragraph--type--image {
  @include flex-grid-row();
  justify-content: center;

  .field-name-field-image {
    @include grid-col-gutter();
  }
}

.paragraph--type--video {
  @include grid-row();
}

.paragraph--type--summary {
  @include grid-col-gutter();
  max-width: 360px;
  margin: 0 auto;
  @include breakpoint(mediumplus) {
    @include flex-grid-row();
    max-width: 100%;
    position: relative;
    margin-bottom: 100px;
    justify-content: space-between;
  }
  @include breakpoint(large) {
    margin-bottom: 240px;
  }
  @include breakpoint(xlarge) {
    @include flex-grid-row('nest');
    margin-bottom: 206px;
    max-width: 1125px;
    margin-left: 0px;
  }

  .text-wrapper {
    @include breakpoint(mediumplus) {
      @include flex-grid-column(6 of 12);
    }
    @include breakpoint(large) {
      @include flex-grid-column(4 of 12);
    }
    @include breakpoint(xlarge) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: -190px;
      @include grid-col-gutter(0px);
    }


    .field-name-field-title {
      font-family: $body-font-family;
      font-weight: 300;
      font-size: 32px;
      color: $primary-color;
      letter-spacing: 0;
      line-height: 42px;
      margin-bottom: 25px;
      @include breakpoint(large) {
        font-size: 28px;
      }
      @include breakpoint(xlarge) {
        font-size: 32px;
      }
    }

    .field-name-field-text {
      font-family: $body-font-family;
      font-size: 16px;
      color: #000000;
      letter-spacing: 0;
      line-height: 20px;

      ul {
        margin-left: 0px;
        margin-bottom: 0px;

        li {
          @include list-item();
        }
      }

      p {
        a {
          @include buttonnew();
          color: black;
          font-weight: 600;
        }
      }
    }
  }

  .image-wrapper {
    @include breakpoint(mediumplus) {
      @include flex-grid-column(6 of 12);
    }
    @include breakpoint(large) {
      @include flex-grid-column(8 of 12);
      max-width: 600Px;
    padding-left:0px!important;
    padding-right:0px!important;
    }

    .field-name-field-images-2 {
      max-width: 315px;
      margin-top: 30px;
      margin-bottom: 30px;
      @include breakpoint(mediumplus) {
        margin-top: 0px;
        margin-bottom: 0px;
        max-width: 100%;
      }
      @include breakpoint(large) {
        max-width: 600px;
      }

      .field-items {
        @include breakpoint(large) {
          position: relative;
          max-width: 600px;
        }

        img:nth-of-type(2) {
          margin-top: 15px;
          @include breakpoint(large) {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            border: 15px solid white;
            position: absolute;
            max-width: 240px;
            left: 0;
            right: 0;
            margin: auto;
            bottom: -205px;
          }
        }
      }
    }

    .field-name-field-trumps {
      @include breakpoint(mediumplus) {
        position: absolute;
        top: 345px;
        left: 30px;
        max-width: 600px;
      }
      @include breakpoint(xlarge) {
        left: auto;
        right: -90px;
        top: auto;
        margin-top: -17%;
      }

      .paragraph--type--trump {
        background-color: $secondary-color;
        max-width: 285px;
        padding-left: 30px;
        padding-top: 30px;
        padding-right: 15px;
        padding-bottom: 50px;
        @include breakpoint(xlarge) {
          margin-left: auto;
          margin-right: 0px;
        }

        .field-name-field-title {
          font-family: $body-font-family;
          font-weight: 600;
          font-size: 23px;
          color: #FFFFFF;
          letter-spacing: 0;
          line-height: 31px;
          margin-bottom: 12px;
        }

        .field-name-field-text {
          ul {
            margin-left: 0px;
            margin-bottom: 0px;

            li {
              @include list-item();
              color: white;
            }
          }
        }
      }
    }



}

}
.paragraph--type--summary.double-trump {
  @include breakpoint(mediumplus){
    margin-bottom: 400px;
    padding-top: 69px;
  }
  @include breakpoint(large){
    margin-bottom: 240px;
  }
  @include breakpoint(xlarge){
    margin-bottom: -120px;
  }
  .image-wrapper {
    @include breakpoint(large) {
      @include flex-grid-column(6 of 11);
      margin-bottom: 340px;
      padding-left: 0px!important;
      padding-right: 0px!important;
    }
    .field-name-field-trumps{
      @include breakpoint(xlarge) {
        left: 30px;
        right: auto;
        top: auto;
        bottom: 148px;
        .field-items {
          @include flex-grid-row();
          justify-content: center;
          flex-wrap: nowrap;
          .field-item:nth-of-type(2){
            margin-left: 30px;
          }
        }
      }
    }
    .field-name-field-images-2{
      img:nth-of-type(2){
        left: auto;
        right: 0;
      }
    }
  }
  .text-wrapper{
    @include breakpoint(mediumplus){
      margin-top: -67px;
    }
    @include breakpoint(large) {
      @include flex-grid-column(5 of 11);
      .field-name-field-text{
        max-width: 390px;
      }

    }
    @include breakpoint(xlarge) {
      display: block;
      margin-bottom: 0px;

    }
  }
  .paragraph--type--trump {
    margin-top: 15px;
    @include breakpoint(xlarge){
      height: 100%;
      margin-top: 0px;
    }
  }
}
.paragraph--type--summary.single-trump{

    @include breakpoint(large){
      max-width: 1020px!important;
    }

}
.paragraph--type--summary.no-trump{
  @include breakpoint(large) {
    .text-wrapper {
      justify-content: flex-start;
    }
    .image-wrapper .field-name-field-images-2 .field-items img:nth-of-type(2) {
      margin: 0;
      left: -145px;
      bottom: -80px;
    }
  }
}

.paragraph--type--info {
  @include grid-col-gutter();
  @include breakpoint(large){
    margin-top: 340px;
  }
  @include breakpoint(xxlarge){
    margin-top: 360px;
  }
  .field-name-field-info {
    &>.field-items {
      @include breakpoint(mediumplus){
        @include flex-grid-row();
        justify-content: center;
        flex-wrap: nowrap;
      }
      @include breakpoint(xlarge){
        @include flex-grid-row('nest');
        justify-content: center;
        flex-wrap: nowrap;
      }
      &>.field-item {
        background-color: $secondary-color;
        padding: 50px;
        position: relative;
        @include breakpoint(mediumplus){
          padding-top: 70px;
        }
        @include breakpoint(large){
          padding: 90px;
          padding-right: 30px;
          padding-top: 80px;
        }
        &:nth-of-type(1){

          border-bottom: solid 1px white;
          @include breakpoint(mediumplus) {
            border-right: solid 1px white;
          }

        }
        &:nth-of-type(2){

          border-top: solid 1px white;
          @include breakpoint(mediumplus) {
            border-left: solid 1px white;
          }

        }
        &:nth-of-type(3){

          border-top: solid 1px white;
          @include breakpoint(mediumplus) {
            border-left: solid 2px white;
          }

        }
        .field-name-field-sub-title{
          @include breakpoint(mediumplus){
            position: absolute;
            top: -60px;
            right: 50px;;
          }
          .field-items{
            background-color: $primary-color;


            margin-bottom: 20Px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include breakpoint(mediumplus){
              border-radius: 50%;
              max-width: 120px;
              height: 120px;
              padding: 20px;
            }
          .field-item {
            font-weight: 600;
            font-size: 23px;
            color: white;
            letter-spacing: 0;
            text-align: center;

          }
          }
        }
        .field-name-field-title {
          font-weight: 600;
          font-size: 23px;
          color: white;
          letter-spacing: 0;
          line-height: 31px;
          margin-bottom: 20px;
        }


        .field-name-field-text {

          p{
            font-weight: 300;
            font-size: 16px;
            color: white;
            letter-spacing: 0;
            line-height: 20px;
            &>a{
              @include buttonnew();
              max-width: 185px;
              display: block;
              margin-top: 35px;
              margin-bottom: -1rem;
            }
          }
        }

      }
    }
  }
}
.paragraph--type--info.triple-info {
  .field-name-field-info {
    & > .field-items {
      & > .field-item {
        &:nth-of-type(1) {
          @include breakpoint(large) {
            @include flex-grid-column(1 of 4);
            padding-left: 60px!important;
            padding-right: 35px!important;
          }
        }
        &:nth-of-type(2) {
          @include breakpoint(large) {
            @include flex-grid-column(1 of 4);
            padding-left: 60px!important;
            padding-right: 35px!important;
          }

        }
        &:nth-of-type(3) {
          @include breakpoint(large) {
            @include flex-grid-column(2 of 4);
            padding-left: 60px!important;
            padding-right: 140px!important;
          }
        }
      }
    }
  }
}



.paragraph--type--call-to-action{
  @include breakpoint(xlarge){
    position: relative;
    &::before{
      background-image: url('../images/assets/circle.svg');
      background-repeat: no-repeat;
      height: 687px;
      content: "";
      display: block;
      width: 687px;
      background-size: cover;
      background-position: right;
      position: absolute;
      top: -215px;
      z-index: 20;
      left: -687px;
    }
  }
  .callout{
    border: none;
  }
  .field-name-field-title{
    background-image: url('../images/assets/backimage.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    &::before,&::after{
      background-image: url('../images/assets/back-leftright.png');
      background-repeat: no-repeat;
      background-position: left;
      background-size: cover;
      width: 50vw;
      height: 100%;
      content: "";
      position: absolute;
      top: 0;
      z-index: -1;
      left: -25vw;
    }
    &::after{
      left: auto;
      background-position: left;
      right: -25vw;
    }
    &>a{
      padding-top:100px;
      padding-bottom: 100px;
      display: block;
      &:hover{
        .field-item{
       color: $secondary-color;
        }
      }
    }
    .field-item{
      font-weight: 700;
      font-size: 24px;
      color: #5D94FF;
      letter-spacing: 0;
      text-align: center;
      text-decoration: underline;
      line-height: 42px;
      position: relative;
      transition: 0.3s ease;
      max-width: 270Px;
      margin: 0 auto;
      @include breakpoint(mediumplus){
        font-size: 32px;
        margin: 0;
        max-width: 100%;
      }
      &::after{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 90px;
        transition: 0.3s ease;
        margin: auto;
        background-repeat: no-repeat;
        display: block;
               width: 35px;
        height: 38px;
        background-position: center;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='27px' height='27px' viewBox='0 0 27 27' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 63.1 (92452) - https://sketch.com --%3E%3Ctitle%3EGroup 4%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='square'%3E%3Cg id='0.0-Home' transform='translate(-707.000000, -2364.000000)' stroke='%23227BFF' stroke-width='3'%3E%3Cg id='Group-4' transform='translate(721.000000, 2377.500000) rotate(90.000000) translate(-721.000000, -2377.500000) translate(696.000000, 2353.000000)'%3E%3Cg id='Group-5' transform='translate(25.000000, 24.944444) rotate(45.000000) translate(-25.000000, -24.944444) translate(8.000000, 7.944444)'%3E%3Cline x1='0.944444444' y1='17.0555556' x2='33.0555556' y2='17.0555556' id='Line-3'%3E%3C/line%3E%3Cline x1='0.944444444' y1='17' x2='33.0555556' y2='17' id='Line-3' transform='translate(17.000000, 17.000000) rotate(90.000000) translate(-17.000000, -17.000000) '%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        @include breakpoint(mediumplus){
          top: 57px;
        }
      }
      }
    }
  .callout-open{
    .field-item{
      &::after{
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='39px' viewBox='0 0 24 39' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 63.1 (92452) - https://sketch.com --%3E%3Ctitle%3EGroup 5%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='1.0-Vacuumheffer' transform='translate(-709.000000, -2229.000000)' stroke='%23227BFF' stroke-width='3'%3E%3Cg id='Group-4' transform='translate(721.500000, 2248.500000) rotate(90.000000) translate(-721.500000, -2248.500000) translate(703.500000, 2236.500000)'%3E%3Cg id='Group-5' transform='translate(0.000000, 0.833333)'%3E%3Cline x1='0.944444444' y1='12.1666667' x2='33.0555556' y2='12.1666667' id='Line-3' stroke-linecap='square'%3E%3C/line%3E%3Cpolyline id='Rectangle' transform='translate(24.631579, 11.666667) rotate(-45.000000) translate(-24.631579, -11.666667) ' points='32.2982456 4 32.2105263 19.245614 16.9649123 19.3333333'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

      }
    }
  }
  }

.paragraph--type--form{
  h2{
    font-weight: bold;
    font-size: 32px;
    color: #4488FF;
    letter-spacing: 0;
    line-height: 42px;
    margin-bottom: 50px;
    text-align: center;
    @include breakpoint(mediumplus){
      text-align: left;
    }
  }
  @include breakpoint(mediumplus){
    form{
      max-width: 739px!important;
      input.success{
        margin-left: 0!important;
        margin-right: auto!important;
      }
    }
  }

}
