#toolbar-item-toolbar-menu-manager + .toolbar-tray .toolbar-icon {
  padding: .669em 1.3333em .669em .8em;
  font-size: small;
}

#toolbar-item-toolbar-menu-manager + .toolbar-tray .toolbar-icon::before {
  display: none;
}

#toolbar-item-toolbar-menu-manager + .toolbar-tray .toolbar-icon svg {
  font-size: 18px;
  vertical-align: middle;
  margin-right: 7px;
}
